<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>SaveToDiskServlet</servlet-name>
  	<servlet-class>by.minsler.SaveToDiskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveToDiskServlet</servlet-name>
  	<url-pattern>/proxyInMemory</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EndReceiverServlet</servlet-name>
  	<servlet-class>by.minsler.EndReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EndReceiverServlet</servlet-name>
  	<url-pattern>/endreceiver</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProxyServlet</servlet-name>
  	<servlet-class>by.minsler.ProxyServlet</servlet-class>
  	<init-param>
  		<param-name>receiverUrl</param-name>
  		<param-value>http://localhost:8080/endreceiver</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProxyServlet</servlet-name>
  	<url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  
  
  	<context-param>
		<param-name>logFileProperties</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	
  	<listener>
		<display-name>Init Log4j</display-name>
		<listener-class>by.minsler.log.Log4jInit</listener-class>
	</listener>
</web-app>
