<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>ProxyServlet</servlet-name>
  	<servlet-class>minsler.by.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProxyServlet</servlet-name>
  	<url-pattern>/proxyInMemory</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProxyServletToDisk</servlet-name>
  	<servlet-class>minsler.by.ProxyServletToDisk</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProxyServletToDisk</servlet-name>
  	<url-pattern>/proxyToDisk</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProxyServletToOtherUrl</servlet-name>
  	<servlet-class>minsler.by.ProxyServletToOtherUrl</servlet-class>
  	<init-param>
  		<param-name>receiverUrl</param-name>
  		<param-value>http://localhost:8080/proxyToDisk</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProxyServletToOtherUrl</servlet-name>
  	<url-pattern>/proxyToOtherUrl</url-pattern>
  </servlet-mapping>
</web-app>
